@charset "utf-8";
/* CSS Document */

div.tabs
{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}

input[type=button] {
  width: 10%;
  background-color: #0e0987;
  color: white;
  padding: 10px 10px;
  margin: 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  bottom: 20px;
  left: 950px;
}

input[type=button]:hover 
{
  background-color: #0a00ff;
}

div.logo
{
	position: relative;
	bottom: -20px;
}

a 
{ 
	text-decoration: none;
	color: black;
}

a:hover
{
	color: #0a00ff;
}

div.label
{
	background-color: cadetblue;
}

h2
{
	text-align: justify;
  	text-justify: inter-word;
	position: relative;	  
	text-align:center;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";	
}

p
{
	text-align: justify;
  	text-justify: inter-word;
	position: relative;	  
	text-align:left;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
}

div.p1
{
	color: white;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align:center;
}

.pfoot
{
	text-align: justify;
  	text-justify: inter-word;
	position: relative;	  
	text-align:center;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
}

.btn
{
  width: 10%;
  background-color: #0e0987;
  color: white;
  padding: 10px 10px;
  margin: 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  bottom: 20px;
  left: 950px;
}

.btn:hover 
{
  background-color: #0a00ff;
}

input[type=text], select
{
  width: 20%;
  padding: 9px;
}


